body {
    margin: 0;
    padding: 0;
}

#mirror {
    background: hsla(0, 0%, 39.6%, 0.6);
    background: radial-gradient(ellipse at center, hsl(0, 0%, 21.2%) 0%,hsl(0, 0%, 12.9%) 100%);
    max-height: 100vh;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

#mirror img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    mix-blend-mode: color-dodge;
}

#dark {
    background-color: #000000;
    min-height: 100%;
    min-width: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0.2;
}

/* http://thenewcode.com/1020/HTML5-Video-Effects-with-CSS-Blend-Modes */
video {
    transform: scale(-1, 1);
    mix-blend-mode: soft-light;
    max-height: 100vh;
}

#canvas {
    display: none;
}

#image {
    position: absolute;
    z-index:1;
}

#warning {
    display: none;
    background: #ff7500;
    color: #fff;
    width: 100%;
    z-index: 999;
    position: absolute;
    padding: 10px 40px;
    text-align: right;
    font-family: sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}

#warning::after {
    content: "X";
    background-color: #e66900;
    margin: 10px;
    width: 30px;
    height: 30px;
    padding: 5px 11px;
    border-radius: 27px;
    color: #b35200;
}

#warning:hover::after {
    background-color: #bd5600;
    color: #f57000;
}
