@font-face {
    font-family: "Stardos Stencil";
    src: url(../fonts/StardosStencil-Regular.ttf);
    font-weight: 400;
}

body {
    margin: 0;
    background: #F2F3E5;
    display:grid;
    grid-column-gap:20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "warning warning warning"
    "control video strips";
    overflow:hidden;
}

body:after {
    content:"";
    top:0;
    left:0;
    bottom:0;
    right:0;
    position: absolute;
    z-index: -1;
    background-image: url(../img/bg-pattern.png);
    opacity: 0.26;
}

.wrapper {
    display: block;
}

.warningWrapper {
    grid-area: warning;
    display: block;
    width: 100vw;
}

.controlWrapper {
    grid-area:control;
    height:100vh;
    margin-left:20px;
    display:grid;
    grid-row-gap: 10px;
    grid-template-rows: 1fr 1fr 8fr;
    grid-template-areas: 
    "coin"
    "start"
    "export"
}

.videoWrapper {
    grid-area:video;
    height:100vh;
}

.coinslotWrapper {
    display:grid;
    grid-column-gap: 10px;
    grid-template-columns: 8fr 30px;
    grid-template-areas:
    "sign coinslot";
    margin: 20px 0px;
}

#coin {
    grid-area: coin;
}

#start {
    grid-area: start;
}

#export {
    grid-area: export;
    margin-top: 30px;
}

.coinslotWrapper .signWrapper {
    grid-area: sign;
}

.coinslotWrapper .coinslot {
    grid-area: coinslot;
}

.coinslotWrapper .sign img {
    width:30%;
}

#videoContainer {
    background: hsla(0, 0%, 39.6%, 0.6);
    background: radial-gradient(ellipse at center, hsl(0, 0%, 21.2%) 0%,hsl(0, 0%, 12.9%) 100%);
    max-height: 100vh;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

#videoContainer img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    mix-blend-mode: color-dodge;
    /* background-image: url("../img/HAL9000.png"); */
    width: 328px;
    height: 328px;
    /* background-repeat: no-repeat; */
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

#videoOverlay {
    background-color: #dbdbdb;
    background: radial-gradient(ellipse at top left, hsla(0,0%,100%,1) 0%, hsla(0,0%,70%,1) 100%);
    min-height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    opacity: 0.5;
}

#eyeLevel {
    height: 10px;
    width: 100%;
    background: #ffffff;
    top: calc(50% - 5px);
    position: absolute;
    z-index: 2;
}

video {
    transform: scale(-1, 1);
    mix-blend-mode: soft-light;
    max-height:100vh;
}

#canvas, #tempCanvas {
    display: none;
}

#warning {
    display: none;
    background: #ff7500;
    color: #fff;
    width: 100%;
    z-index: 999;
    position: absolute;
    padding: 10px 40px;
    text-align: right;
    font-family: sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}

#warning::after {
    content: "X";
    background-color: #e66900;
    margin: 10px;
    width: 30px;
    height: 30px;
    padding: 5px 11px;
    border-radius: 27px;
    color: #b35200;
}

#warning:hover::after {
    background-color: #bd5600;
    color: #f57000;
}

.sign {
    background: #eaeaea;
    padding: 10px 0;
}

.sign img {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    display: block;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

.signWrapper {
    overflow: hidden;
    /* outline: 20px solid #c3c3c3; */
    border: 10px solid #c3c3c3;
    box-shadow: 4px 4px 11px -1px hsla(0, 0%, 30%, 0.6);
}

.signTitle {
    font-family: "Stardos Stencil", sans-serif;
    font-size: 1.5vw;
    line-height:1.1;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    display: block;
    user-select: none;
    -moz-user-select: none;
    text-align: center;
    color: #191111;
}

.coinslot {
    background:#484848;
    /* outline: 20px solid #c3c3c3; */
    border: 10px solid #c3c3c3;
    box-shadow: 4px 4px 11px -1px hsla(0, 0%, 30%, 0.6);
}

.controls {
    margin: 0 20px;
}

#start {
    grid-area: start;
    user-select: none;
    -moz-user-select: none;
}

#startButton {
    /* outline: 20px solid hsla(114.2, 73%, 17.6%, 0.9); */
    border: 10px solid hsla(114.2, 73%, 17.6%, 0.9);
    font-family: sans-serif;
    font-size: 4em;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.7);
    width: 70%;
    margin: 0 auto;
    padding-top: 5px;
    box-shadow: 4px 4px 11px -1px hsla(147.9, 64.6%, 25.5%, 0.6);
}

#startButton:hover {
    cursor: pointer;
}

#startButton:active {
    transform: scale(0.95);
}

.startButton-inactive {
    background: radial-gradient(ellipse at center, rgba(76,171,65,1) 0%, rgba(23,117,14,1) 84%, rgba(23,117,14,1) 100%);
}

.startButton-active {
    background: radial-gradient(ellipse at center, rgba(163,250,169,1) 0%, rgba(52,247,65,1) 16%, rgba(76,171,65,1) 46%, rgba(23,117,14,1) 84%, rgba(23,117,14,1) 100%);
}

.export {
    width: 50%;
    height: 260px;
    background: #616161;
    /* float: left; */
    margin: 20px auto;
    /* outline: 20px solid #c3c3c3; */
    border: 10px solid #c3c3c3;
    overflow:hidden;
    box-shadow: 4px 4px 11px -1px hsla(0, 0%, 30%, 0.6);
    position: relative;
}

#export .signWrapper {
    width: 50%;
    margin: 0 auto;
}

#exportSlotDivider {
    width:20px;
    height:100%;
    display: block;
    background: #5b5b5b;
    margin: 0 auto;
    position: absolute;
    left:0;
    right:0;
    z-index: 2;
    box-shadow: 0px 0px 11px -1px hsla(0, 0%, 18.4%, 0.6);
    pointer-events: none;
}

.shelfWrapper {
    margin-right:20px;
}

.shelf {
    width: 20vw;
    height: 20px;
    background:#334a49;
    position: absolute;
    bottom: 20px;
    box-shadow: 4px 4px 11px -1px hsla(0, 0%, 30%, 0.6);
}

.coinstack {
    background-image: url(../img/coin/coin-stack.png);
    height: 120px;
    width: 108px;
    display: block;
    background-repeat: no-repeat;
    position: relative;
    top: -120px;
}

.coinstack:hover {
    cursor: pointer;
}

.shine {
    animation: shineAnimation 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 1.4s;
}

@keyframes shineAnimation {
    0% {
        filter: brightness(100%);
    } 50% {
        filter: brightness(115%);
    } 100% {
        filter: brightness(100%);
    }
}

.coin {
    background-image: url(../img/coin/coin-front.png);
    height: 77px;
    width: 77px;
    background-repeat: no-repeat;
    position: fixed;
    background-position: center;
}

.coin:hover {
    cursor: grab;
}

.coin:active {
    cursor: grabbing;
}

.flash {
    width: 100vw;
    height: 100vh;
    background: white;
    position: absolute;
    z-index: 99;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgb(161, 161, 161) 100%);
    opacity: 0;
    pointer-events: none;
}

.flashAnimation {
    animation: brightFlash .5s;
    animation-timing-function: ease;
}

@keyframes brightFlash {
    0% {
        opacity: 0;
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

.photostrip {
    width:100%;
}

.photostripWrapper {
    height:90vh;
    width: 18.439515vh;
    position: absolute;
    z-index: 1;
    margin:0 auto;
    bottom:0;
    left:0;
    right:0;
    pointer-events: none;
}

.slideDownStrip {
    animation: slideDown 0.7s;
    animation-timing-function: ease;
}

@keyframes slideDown {
    0% {
        bottom: 40vh;
    } 100% {
        bottom: 0vh;
    }
}

#exportOptions {
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.7;
    z-index: 3;
    position: absolute;
    display: none;
    padding-top: 40px;
    font-family: "Stardos Stencil", sans-serif;
}

.btn {
    padding: 6px 0;
    background-color: #c6c6c6;
    border: 1px solid white;
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    display: inline-block;
    padding-left:50px;
}

.print:before {
    content: " ";
    height: 20px;
    width: 20px;
    background-image: url(../img/icons/printer.png);
    position: absolute;
    left: 20px;
    background-size: cover;
    margin-top: 2px;
}

.save:before {
    content: " ";
    height: 20px;
    width: 20px;
    background-image: url(../img/icons/cloud-download.png);
    position: absolute;
    left: 20px;
    background-size: cover;
    margin-top: 2px;
}

.btn:hover {
    cursor: pointer;
    background: #c767da;
}